@font-face {
    font-family: hel;
    src: url("https://files.catbox.moe/4baz5p.ttf");
  }

  @font-face {
    font-family: snes;
    src: url("https://files.catbox.moe/agkdst.ttf");
  }

  @font-face {
    font-family: pmb;
    src: url("https://files.catbox.moe/ddj2jz.ttf");
  }

html{
    background-image: url("/assets/bg.png");

    font-family:"MS UI Gothic", sans-serif;
    font-size:11px;
    image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
      font-smooth: never;
      -webkit-font-smoothing: none;
}

body{
    width: 900px;
    position: relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.header{
border: 1px solid rgb(92, 58, 172);
background-color: rgba(39, 255, 244, 0.226);
color: rgb(20, 19, 37);
padding: 2px;
font-family: "pmb";
margin-bottom:5px;
}

.box{
border: 1px dotted rgb(92, 58, 172);
background-color: rgba(230, 233, 255, 0.829);
color: rgb(40, 38, 71);
padding: 6px;
margin-bottom:2px;
}
a{
    color:rgb(98, 0, 190);
    text-decoration: none;
}
a:before{
    content:"⚧ "
}
a:hover{
    color:rgb(153, 51, 248)
}

.gfx:before{
    content:"";
}

details:before{
  content:none;
}

.lis{
  display:flex;
  padding:3px;
  
}