html{
    background-color:white;
}
body {
    width: 900px;
    position: relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family: "Yu Mincho";
    font-weight: bolder;
    font-size: 18px;
    line-height: 20px;


    }

    .head{
        display:flex;
    }

    .onemuri{
        font-size:100px;
        line-height: 90px;
        background-color: black;
        color:white;
        width:80px;
        padding:3px;
        padding-right:15px;
        z-index:10;
        position:absolute;
        left:30px;

    }

    .land{
        position:absolute;
        left:118px;
        top:50px;
    }

    a{
        color:black;
        
    }

    .main{
        width:900px;
        position:absolute;
        top:310px;
        display:flex;
        min-height:440px;
    }

    .sidebar{
        width: 180px;
        color:white;
        background-color: black;
        padding: 4px;
    }

    .frame{
        width:590px;

        margin-left:10px;
        padding:5px;
    }

    .foot{
        color:black;
        background-color: white;
        width:800px;
        position:absolute;
        top:100%;

    }

.sidebar a{
    color:white;
}

.frame h2{
    color:white;
    background-color: black;
    padding:8px;
    width:71%;
    font-size:28px;
}

.ending{
    writing-mode: vertical-rl;
    text-orientation: upright;
}
